body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#display {
    width: 90%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
}

.btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn-o {
    background-color: #d81414;
    color: white;
}

.equals {
    background-color: #2ecc71;
    color: white;
}